/* MAIN */

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    padding-right: 0 !important;
    font-family: "Trebuchet MS Regular", sans-serif;
    text-align: center;
    width: 100vw;
    max-width: 100vw !important;
}

html {
    scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Montserrat", sans-serif !important;
}

*::selection {
    background: rgb(36, 196, 134);
}

*::-moz-selection {
    background: rgb(36, 196, 134);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1f2324;
    background-color: #242829;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient( to top rgb(19, 109, 74), rgb(19, 109, 74));
    background: linear-gradient(to top, rgb(19, 109, 74), rgb(19, 109, 74));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-linear-gradient( to bottom rgb(19, 109, 74), rgb(19, 109, 74));
    background: linear-gradient(to bottom, rgb(19, 109, 74), rgb(19, 109, 74));
    transition-delay: 1s !important;
    cursor: pointer !important;
}


/* DETAILS */

.view {
    height: 100vh;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.navbar {
    width: 100vw;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #212121 !important;
    }
}

.top-nav-collapse {
    background-color: #212121 !important;
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

header {
background-color: #1f2324;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

.navbar-brand img {
    width: 50px;
}

footer .fab {
    margin-right: 10px;
}

footer img {
    width: 60px;
    margin-bottom: 30px;
}

.align-verical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro {
    z-index: 5 !important;
}

.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    z-index: 6 !important;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    width: 35px;
    height: 35px;
}

#carousel-intro img {
    filter: grayscale(1);
    opacity: 0.4;
}

#gallery {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

#gallery .gallery-img {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    overflow: hidden;
}

#gallery .gallery-img img {
    max-width: 100%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    filter: grayscale(100%);
}

#gallery .gallery-img img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}


/*CARDS*/

.card {
    height: 100%;
}

.card-body {
    position: relative;
}

.card-body img {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: -20px;
    opacity: 0.2;
}

.card-flipping-block {
    background-color: transparent;
    perspective: 1000px;
    height: 25vw;
    padding: 15px;
}

.card-flipping-in {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-flipping-block:hover .card-flipping-in {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card-flipping-front,
.card-flipping-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card-flipping-back {
    background-color: #212121;
    padding: 15px;
    color: white;
    transform: rotateY(180deg);
}

.card-flipping-back>p {
    margin: 0 0 !important;
}


/* RESPONSIVE */

@media only screen and (max-width: 992px) {
    .card-flipping-block {
        height: 35vw;
    }
}

@media only screen and (min-width: 992px) {
    .card-flipping-back p {
        font-size: 0.77em;
    }
}

@media only screen and (max-width: 768px) {
    .card-flipping-block {
        height: 50vw;
    }
    .text-mobile-center {
        text-align: center !important;
    }
    .card-flipping-back p {
        font-size: 0.75em;
    }
    #clients img {
        width: 40%;
        /*margin-bottom: 20px; */
    }
}

#clients .row {
    margin-top: 50px !important;
    justify-content: center;
}

.padding {
    padding-top: 100px !important;
}

.icons-footer {
    height: auto;
    width: 0.9rem;
    margin-bottom: 0.25rem;
}

iframe {
    width: 66vw;
    height: 37.1vw;
}

#cooperation img {
    border: 1px solid rgb(36, 196, 134);
    border-radius: 100%;
    box-shadow: inset 0 0 5px #1f2324;
}

#map {
    height: 100%;
    width: 100%;
}

#map-parent {
    padding: 0;
    margin: 0;
    width: 100vw;
    box-shadow: 0px 0px 20px -10px #1f2324;
    height: 50vh;
}

.gallery-grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery-grid .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery-grid .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#gallery-grid-blocks .row,
#faq .row {
    margin: 0;
}

@media (max-width: 450px) {
    .gallery-grid {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

button.close {
    position: absolute;
    right: 0;
    z-index: 2;
    padding-right: 1rem;
    padding-top: 0.6rem;
}

#gallery-grid .btn {
    padding: 10px;
}

#faq .card-header {
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#faq #accordionEx,
#faq .card {
    box-shadow: 0px 0px 0px 0px #fff;
}

#faq .card i {
    color: rgb(36, 196, 134);
}